<p id='listhead'>Here is a <span class="hl-elite">list of all people</span> {{from}} {{city}} who want to see Jonah Smith in Europe:</p>
<div class='list'>
    {{#each signers}}
        <p> <a href="http://{{this.homepage}}"> {{this.firstname}} {{this.lastname}} </a> {{ageSeparator}} {{this.age}} {{citySeparator}} <a href="/signers/{{this.city}}">{{this.city}}</a></p>
    {{/each}}
</div>
